# For crimson nether vegetation
public-f net.minecraft.world.level.levelgen.feature.stateproviders.WeightedStateProvider f_68809_ # weightedList
public net.minecraft.util.random.SimpleWeightedRandomList <init>(Ljava/util/List;)V # SimpleWeightedRandomList